/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:wght@100..900&display=swap");

/* CSS Variables */
:root {
    --primary-font: "Lora", serif;
    --secondary-font: "Roboto", sans-serif;
    --primary-color: #333333; /* Charcoal */
    --darker-bg-color: #232323; /* Darker Charcoal */
    --secondary-color: #ffffff; /* White */
    --accent-color: #9ADBB3 ; /* Pastel Mint Green */
    --highlight-color-light: #63C689; /* Dark Pastel Green */
}

/* Global Styles */

h1, h2 {
    font-size: 2rem;
}

h1, h2 {
    font-family: var(--secondary-font);
}

body {
    font-family: var(--primary-font);
    background-color: #333333;
}

.accent {
    color: var(--accent-color);
}

/*Form Global Styles */

.form-font {
    font-family: var(--secondary-font);
}

.form-background {
    background-color: var(--darker-bg-color);
    padding: 20px;
    border-radius: 8px;
}

.form-label {
    background-color: transparent !important;
    text-align: left !important;
    color: white !important;
    display: block;
    margin-bottom: 1px; /* Reduces space between label and input */
}

.form-control {
    background-color: transparent !important;
    color: white !important;
    border: 1px solid white;
}

.form-control::placeholder {
    color: var(--accent-color); /* Placeholder text color */
}

.form-control:focus {
    background-color: transparent !important;
    color: white !important;
    border-color: var(--secondary-color);
    box-shadow: none !important; /* Removes Bootstrap default glow */
}

.btn-primary {
    color: var(--darker-bg-color);
    background-color: var(--accent-color) !important;
    border: 1px var(--accent-color) solid;
}

/* Nav Bar */

.custom-navbar {
    font-family: var(--secondary-font);
    font-size: x-large;
    background-color: var(--primary-color) !important;
    box-shadow: 0px 4px 15px rgba(99, 198, 137, 0.5) !important;
}

.custom-navbar {
    position: relative !important ; /* Ensures shadow renders, without this shadow get's hidden by bootstrap */
    z-index: 10; /* Keeps navbar on top on content*/
}

.custom-navbar .navbar-brand {
    font-size: 1.7rem; /* Font size for Shiftrix logo on nav */
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    color: var(--secondary-color) !important; /* Navbar text color */
}

.custom-navbar .nav-link.active {
    color: var(--highlight-color-light) !important; /* active link color for nav */
}

.custom-navbar .nav-link:hover {
    color: var(--highlight-color-light) !important; /* Hover effect for navbar */
}

/* Remove outline for the non-focus and on focus for the burger menu toggle */
.navbar-toggler { 
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

/* Focal Image */

#focalImage {
    height: 600px;
    width: 100%;
    background: linear-gradient(to top, #333333 0%, transparent 20%),
    url('../images/focal-image-c.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding-left: 5%;
}

#focalImage .d-flex {
    flex-direction: column; /* Ensures text stacks on focal image */
    justify-content: center;
    text-align: left;
}

#focalImage h1 {
    font-size: 3rem;
}

#focalImage h1, 
#focalImage h4 {
    color: var(--secondary-color);
}

.fontpriority {
    z-index: 1000;
}

/* Main */

/* This ensures footer goes to the bottom along with my mt-auto on footer and body classes styles*/
.main-primary {
    background-color: var(--primary-color);
    flex-grow: 1;
    width: 100%;
}

div h1, h2 {
    color: var(--secondary-color);
}

div p {
    color: #ffffff;
}

/* Card Styles */
.card {
    background-color: #232323 !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    border: none;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); /* Slightly bigger shadow on hover */
}

.custom-card-header {
    color: var(--accent-color);
    text-align: center !important;
}

/* FAQ - Accordion Styles */

.accordion {
    background-color: #232323;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

  .accordion-button {
    background-color: #232323; /* Accordion background */
    color: #ffffff; /* Default text color */
    border: none; /* Border color */
  }

  /* Hover text color */
  .accordion-button:hover {
    background-color: #9ADBB3;
    color: #232323;
  }

  /* Expansion styles (opened) */
  .accordion-button:not(.collapsed) {
    background-color: #9ADBB3; 
    color: #232323; 
    border-color: #9ADBB3;
  }

  /* When accordion is active styles */
  .accordion-button:not(.collapsed):hover {
    background-color: #9ADBB3;
    color: #232323;
  }

  /* Remove default blue outline */
  .accordion-button:focus {
    box-shadow: none;
  }

  /* Style for the accordion body */
  .accordion-body {
    background-color: #232323;
    color: #ffffff;
  }


  /* Default arrow color (white) */
.accordion-button::after {
    filter: brightness(0) invert(1);
}

/* Change arrow color when active (expanded) or hovered */
.accordion-button:not(.collapsed)::after,
.accordion-button:hover::after {
    filter: brightness(0) invert(0);
}

/* without this all FAQ buttons would be have the hover style on page load */
.accordion-button:not(:hover):not(:focus) {
    background-color: var(--darker-bg-color) !important; /* Adjust to match default */
    color: var(--secondary-color);
}


/* Footer */

footer {
    background-color: var(--darker-bg-color) !important;
}

.footer-link {
    color: var(--accent-color);
}

footer h1 {
    color: var(--secondary-color);
}

.social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.custom-icon {
    color: var(--accent-color);
    font-size: 25px;
}

/* Media Queries */

/* Very small screens (320px width) */
@media (min-width: 320px) {


    .custom-navbar {
        font-size: 1rem;
    }
    .custom-navbar .navbar-brand {
        font-size: 1.2rem;
        padding-left: 5px;
    }

    /* Accordion */

    .accordion {
        max-width: 85%;
    }


     /* Footer */
    .custom-icon {
        color: var(--accent-color);
        font-size: 30px;
     }
}

/* Medium screens (768px width) */
@media (min-width: 768px) {
    /* Global */

    h2 {
        font-size: 2.5rem;
    }

    /* Navbar */

    .custom-navbar {
        font-size: 1rem;
    }
    .custom-navbar .navbar-brand {
        font-size: 1.2rem;
        padding-left: 5px;
    }

    /* Focal Image */

    #focalImage h1, 
    #focalImage h4 {
    color: var(--secondary-color);
    }

    #focalImage h1 {
        font-size: 5rem;
    }

    /* Accordion */

    .accordion {
        max-width: 95%;
    }


    /* Footer */

    .custom-icon {
        color: var(--accent-color);
        font-size: 30px;
    }
}

/* Large screens (1024px width) */
@media (min-width: 1024px) {
    
    /* Navbar */

    .custom-navbar {
        font-size: 1.3rem; 
    }
    .custom-navbar .navbar-brand {
        font-size: 1.5rem;
        padding-left: 5px;
    }

    /* Main */

    main div p {
        font-size: 1.1rem;
    }

    .container h1 {
        font-size: 3rem;
    }

    /* Accordion */

    .accordion {
        max-width: 100%;
    }

    /* Footer */

    .custom-icon {
        color: var(--accent-color);
        font-size: 35px;
    }
}

/* Larger screens (1440px width) */
@media (min-width: 1440px) {
 
    /*Navbar */

    .custom-navbar {
        font-size: 1.2rem;
    }
    .custom-navbar .navbar-brand {
        font-size: 1.5rem;
        padding-left: 10px;
    }

    /* Main */


    main div p {
        font-size: 1.3rem;
    }
    
    /* Footer */
    
    .custom-icon {
        color: var(--accent-color);
        font-size: 40px;
    }
}