/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:wght@100..900&display=swap");


/* CSS Variables */
:root {
    --primary-font: "Lora", serif;
    --secondary-font: "Roboto", sans-serif;
    --primary-color: #333333; /* Charcoal */
    --secondary-color: #ffffff; /* White */
    --accent-color: #9ADBB3 ; /* Pastel Mint Green */
    --highlight-color-light: #63C689; /* Dark Pastel Green */
}


/* Global Styles */

h1, h4 {
    font-family: var(--secondary-font);
}

body {
    font-family: var(--primary-font);
    background-color: #333333;
}

.accent {
    color: var(--accent-color);
}

/* Nav Bar */

.custom-navbar {
    font-family: var(--secondary-font);
    font-size: x-large;
    background-color: var(--primary-color) !important;
    box-shadow: 0px 4px 15px rgba(99, 198, 137, 0.5) !important;
}

.custom-navbar {
    position: relative !important ; /* Ensures shadow renders, without this shadow get's hidden by bootstrap */
    z-index: 10; /* Keeps navbar on top on content*/
}


.custom-navbar .navbar-brand {
    font-size: 1.7rem; /* Font size for Shiftrix logo on nav */
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    color: var(--secondary-color) !important; /* Navbar text color */
}

.custom-navbar .nav-link.active {
    color: var(--highlight-color-light) !important; /* active link color for nav */
}

.custom-navbar .nav-link:hover {
    color: var(--highlight-color-light) !important; /* Hover effect for navbar */
}

/* Remove outline for the non-focus and on focus for the burger menu toggle */
.navbar-toggler { 
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

/* Main */

/* This ensures footer goes to the bottom along with my mt-auto on footer and body classes styles*/
.main-primary {
    background-color: var(--primary-color);
    flex-grow: 1;
    width: 100%;
}

/* Card Styles */
.card {
    background-color: #232323 !important; /* Darker than #333333 */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Small shadow */
    border: none; /* Optional: remove the border if you want */
    transition: box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

.card:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); /* Slightly bigger shadow on hover */
}

/* Focal Image */

#focalImage {
    height: 450px;
    width: 100%;
    background: var(--primary-color);
    display: flex;
    align-items: center; /* Centers content vertically */
    padding-left: 5%; /* Adds space from the left edge */
}

#focalImage .d-flex {
    flex-direction: column; /* Ensures h1 and h3 stack */
    justify-content: center; /* Centers content vertically */
    text-align: left; /* Align text to the left */
}

#focalImage h1 {
    font-size: 3rem;
}

#focalImage h1, 
#focalImage h4 {
    color: var(--secondary-color);
}

.fontpriority {
    z-index: 1000;
}



/* Footer */


.social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.custom-icon {
    color: var(--accent-color);
    font-size: 25px;
}


/* Media Queries */

/* Very small screens (320px width) */
@media (min-width: 320px) {
    .custom-navbar {
        font-size: 1rem;
    }
    .custom-navbar .navbar-brand {
        font-size: 1.2rem;
        padding-left: 5px;
    }

     /* Footer */
    .custom-icon {
        color: var(--accent-color);
        font-size: 20px;
     }
}

/* Medium screens (768px width) */
@media (min-width: 768px) {

    /* Navbar */

    .custom-navbar {
        font-size: 1rem;
    }
    .custom-navbar .navbar-brand {
        font-size: 1.2rem;
        padding-left: 5px;
    }

    /* Focal Image */

    #focalImage h1, 
    #focalImage h4 {
    color: var(--secondary-color);
    }

    #focalImage h1 {
        font-size: 5rem;
    }

    /* Footer */

    .custom-icon {
        color: var(--accent-color);
        font-size: 30px;
    }
}


/* Large screens (1024px width) */
@media (min-width: 1024px) {
    
    /* Navbar */

    .custom-navbar {
        font-size: 1.3rem; 
    }
    .custom-navbar .navbar-brand {
        font-size: 1.5rem;
        padding-left: 5px;
    }

    /* Focal Image */


    /* Footer */

    .custom-icon {
        color: var(--accent-color);
        font-size: 35px;
    }
}

/* Larger screens (1440px width) */
@media (min-width: 1440px) {
 
    /*Navbar */

    .custom-navbar {
        font-size: 1.2rem;
    }
    .custom-navbar .navbar-brand {
        font-size: 1.5rem;
        padding-left: 10px;
    }

    /* Focal Image */


    
    /* Footer */
    
    .custom-icon {
        color: var(--accent-color);
        font-size: 40px;
    }
}